<body align="center">
    <div>	
        <label for="formFileMultiple" class="form-label"><h3></h3></label>
        
      </div>
    
      <div class="container">
        <div class="starter-template">
            <h1 class="title">Upload Nomimation list</h1>
            <div class="divider"></div>
        </div>
    
        <form class="form">
            <div class="form-group">
                <!--<label for="exampleInputFile">File input</label>-->
                <!-- <input class="form-control" type="file" id="formFileMultiple" multiple> -->
                <!--<p class="help-block">Example block-level help text here.</p>-->
            </div>
            <div class="form-group">
                <label for="nominationsSheet">Choose file:</label>
                <input type="file" class="form-control" name="nominationsSheet" id="nominationsSheet" ngModel>
            </div>

            <button type="submit" class="btn btn-primary">Upload Nominations</button>
        </form>
    </div>
      </body>
      